{% extends "layout.html" %}
{% load static from staticfiles %}
{% load thought_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div id="react-app"></div>

    <div class="row">
        <div class="col-md-6">
            {% thought_form %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ct-chart ct-perfect-fourth"></div>
        </div>
        <div class="col-md-6">
            <h3>Companies</h3>
            <div class="list-group">
                {% for company in user.companies.all %}
                    <a href="{% url 'groups:companies:detail' slug=company.slug %}" class="list-group-item">{{ company.name }}</a>
                {% endfor %}
            </div>

            <h3>Families</h3>
            <div class="list-group">
                {% for family in user.families.all %}
                    <a href="{% url 'groups:families:detail' slug=family.slug %}" class="list-group-item">{{ family.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/chartist/chartist.min.css' %}">
    {% render_bundle 'main' 'css' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/stretchy.js' %}" data-filter="#id_notes" async></script>
    <script src="{% static 'js/chartist/chartist.min.js' %}"></script>
    <script>
        {% chart_data as data %}
        var data = {{ data|safe }};
        new Chartist.Line('.ct-chart', data);
    </script>
    {% render_bundle 'main' 'js' %}
{% endblock %}