{% extends "layout.html" %}
{% load static from staticfiles %}
{% load thought_tags %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Recent Thoughts</h2>
            <div class="list-group">
                {% for thought in user.thoughts.all %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <time class="pull-right small" datetime="{{ thought.recorded_at }}">{{ thought.recorded_at|date:"SHORT_DATE_FORMAT" }}</time>
                            {{ thought.get_condition_display }}
                        </h4>
                        {% if thought.notes %} {{ thought.notes|linebreaks }} {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% thought_form %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/stretchy.js' %}" data-filter="#id_notes" async></script>
{% endblock %}