{% extends "layout.html" %}
{% load static from staticfiles %}
{% load thought_tags %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Recent Thoughts</h2>
            <div class="list-group">
                {% for thought in user.thoughts.all %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <time class="pull-right small" datetime="{{ thought.recorded_at }}">{{ thought.recorded_at|date:"SHORT_DATE_FORMAT" }}</time>
                            {{ thought.get_condition_display }}
                        </h4>
                        {% if thought.notes %} {{ thought.notes|linebreaks }} {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% thought_form %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ct-chart ct-perfect-fourth"></div>
        </div>
        <div class="col-md-6">
            <h3>Companies</h3>
            <div class="list-group">
                {% for company in user.companies.all %}
                    <a href="{% url 'groups:companies:detail' slug=company.slug %}" class="list-group-item">{{ company.name }}</a>
                {% endfor %}
            </div>

            <h3>Families</h3>
            <div class="list-group">
                {% for family in user.families.all %}
                    <a href="{% url 'groups:families:detail' slug=family.slug %}" class="list-group-item">{{ family.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/chartist/chartist.min.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/stretchy.js' %}" data-filter="#id_notes" async></script>
    <script src="{% static 'js/chartist/chartist.min.js' %}"></script>
    <script>
        {% chart_data as data %}
        var data = {{ data|safe }};
        new Chartist.Line('.ct-chart', data);
    </script>
{% endblock %}