{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block content %}
<div class="container pt">
    <div class="row">
        <div class="col-md-6">
            <h3>Sign Up</h3>
            <form action="" method="POST">
                {% bootstrap_form form %}
                {% csrf_token %}
                <input type="submit" value="Sign Up" class="btn btn-primary">
            </form>
        </div>
        <div class="col-md-6">
            <h3>Record how you're feeling!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus, doloremque ducimus fugiat reprehenderit rerum voluptatem! Beatae cumque cupiditate exercitationem facere harum labore quam? Officiis pariatur perspiciatis quam qui vero.</p>
        </div>
    </div>
</div>
{% endblock %}
