{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Invites | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container pt">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    {% for invite in object_list %}
                        <li><a href="#">{{ invite.company }} by {{ invite.from_user }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
